/* FONTAWESOME ICON LIBRARY LIGHTBOX */
#themify_lightbox_fa {
	background: #fff;
	color: #666;
	border: none;
	width: 700px;
	padding: 20px 25px;
	margin: auto;
	position: absolute;
	left: 50%;
	top: 30px;
	margin-left: -375px;
	z-index: 9999999;
	display: none;
	font-size: 13px;
}
#themify_lightbox_fa .themify_lightbox_title {
	font-size: 1.5em;
	color: #000;
	margin: 0 0 15px;
	padding: 0;
	border: none;
}
#themify_lightbox_fa .close_lightbox {
	position: absolute;
	top: 15px;
	right: 25px;
	font-size: 17px;
	color: #666;
	text-decoration: none;
}
#themify_lightbox_fa .close_lightbox:hover {
	color: #000;
	text-decoration: none;
	transform: rotate(90deg);
}
#themify_lightbox_fa .tf-icon-group-select label {
	margin-right: 10px;
}
#themify_lightbox_overlay {
	background: #333;
	background: rgba(0,0,0,.7);
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: 999999;
	display: none;
}
#themify_lightbox_fa .lightbox_container {
	max-height: 500px;
	overflow: hidden;
	overflow-y: scroll;
	margin-top: 15px;
	padding-top: 15px;
	border-top: solid 1px #ccc;
}
#themify_lightbox_fa .lightbox_container section a {
	width: 195px;
	line-height: 1;
	margin-bottom: 3px;
	float: left;
	display: inline-block;
	padding: 7px 0 7px 12px;
	margin-right: 10px;
	text-decoration: none;
	font-size: 14px;
	color: #a5a5a5;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	border-radius: 5px;
}
#themify_lightbox_fa .lightbox_container section a:hover,
#themify_lightbox_fa .lightbox_container section a.selected {
	background: #9a9a9a;
	color: #fff;
}
#themify_lightbox_fa .lightbox_container section a i {
	margin-right: 1em;
	font-size: 16px;
	color: #333;
	display: inline-block;
	vertical-align: middle;
}
#themify_lightbox_fa .lightbox_container section a.selected i,
#themify_lightbox_fa .lightbox_container section a:hover i {
	color: #fff;
}
#themify_lightbox_fa .lightbox_container section a:hover i {
	transform: scale(1.4, 1.4);
}
#themify_lightbox_fa .page-header {
	clear: both;
	font-size: 20px;
	text-align: center;
	padding: 2em 0 1em;
	margin: 0;
}
#themify_lightbox_fa .themify-lightbox-icon{
	font-size: 12px;
	padding: 0;
	margin: 0;
	color: #afafaf;
	text-transform: uppercase;
	letter-spacing: .02em;
	text-align: center;
}
#themify_lightbox_fa .themify-lightbox-icon li {
	display: inline-block;
	cursor: pointer;
	list-style: none;
	margin: 0 0 10px 0;
}
#themify_lightbox_fa .themify-lightbox-icon span{
	padding: 4px 12px; 
	border-radius: 5px;
}
#themify_lightbox_fa .themify-lightbox-icon li:hover span,
#themify_lightbox_fa .themify-lightbox-icon li.selected span {
	background: #9a9a9a;
	color: #fff;
}
#themify-search-icon-input{
	float: right;
	margin-right: 0;
	margin-top: 32px;
	width: 200px;
}

/* clearfix */
#themify_lightbox_fa .row:after,
#themify_lightbox_fa .themify-lightbox-icon:after {
	content: "";
	display: table;
	clear: both;
}

@media only screen and (min-width: 1200px) {
	#themify_lightbox_fa {
		width: 900px;
		margin-left: -475px;
	}
}